@charset "UTF-8";
/*
* Project: Portfolio
* Description: Personal Web Portfolio for MarskDev
* Author: Marcial Ambriz
* Author URI: --------------
* Project URI: https://github.com/marskdev/portfolio
* License: MIT (https://github.com/marskdev/portfolio/blob/main/LICENSE)
*/
*, ::after, ::before {
  box-sizing: border-box;
}

/*    ||  GENERALS STYLES     */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato", sans-serif;
  margin: 0;
}

p a {
  color: #C7C7DB;
  font-weight: 600;
}

p {
  line-height: 1.5;
  margin-top: 0;
}

ul, ol {
  list-style: none;
  padding-left: 1.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

[type=submit] {
  cursor: pointer;
}

button {
  border-radius: 0;
}

button {
  cursor: pointer;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
textarea {
  outline: 0;
}

textarea {
  resize: vertical;
}

section {
  padding: 4rem 0;
}

/*
section {
  margin: 0 auto;
  max-width: 90%;
  padding: 150px 0;
} */
/*    ||  UTILITIES     */
.theme {
  background: #282A3E;
  color: #A8A8C7;
}

.gradient-t {
  background-image: linear-gradient(109.8deg, #F6BE5F -6.35%, #FA9875 105.29%);
  color: transparent;
  -webkit-background-clip: text;
}

.headline {
  color: #E6E6EF;
  font-size: 1.625rem;
  font-weight: 800;
  line-height: 1.5;
  margin-bottom: 2.5rem;
}

.overline {
  font-family: "Roboto Mono", monospace;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.2;
}

.btn {
  font-weight: bold;
  background-color: #F6BE5F;
  border: 3px solid #F6BE5F;
  border-radius: 0.8rem;
  color: #2B2D42;
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  font-size: 1.125rem;
  line-height: 1;
  padding: 1rem 1.5rem;
  transition: transform 0.5s, box-shadow 0.5s;
}
.btn:hover {
  box-shadow: 0px 1px 20px 0px #f6be5f;
  transform: scale(1.02, 1.02);
}

.btn--outlined {
  background-color: transparent;
  color: #F6BE5F;
  transition: transform 0.5s, box-shadow 0.5s, background 0.5s;
}
.btn--outlined:hover {
  background-color: #F6BE5F;
  color: #2B2D42;
}

/*    ||  HEADER     */
.logo {
  margin: 0;
  font-weight: 900;
  font-size: 1.625rem;
  color: #E6E6EF;
}
.logo--top {
  position: absolute;
  left: 1.25rem;
  top: 1.25rem;
}

.content {
  padding: 0 1.25rem;
}

/*    ||  HERO     */
.hero {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.hero__overline {
  margin-bottom: 1.2rem;
}
.hero__headline {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1;
}
.hero h1 {
  color: #E6E6EF;
}
.hero .cursor {
  display: inline-block;
  background-color: #A8A8C7;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.hero .typing {
  animation: none;
}
.hero__desc {
  margin-top: 1.2rem;
}
.hero__cta {
  margin-top: 2rem;
}
.hero__scroll {
  opacity: 0;
  color: #C7C7DB;
  background-color: #4f5067;
  padding: 0.5rem 0.7rem 0.5rem 1rem;
  border-radius: 2rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1.8rem;
  left: 50%;
  transform: translateX(-50%);
  animation: fade-in-delayed 0.5s linear 5s forwards, up-down 0.8s linear 5.5s infinite alternate;
}

.scroll--desktop {
  display: none;
}
.scroll__text {
  margin-right: 0.2rem;
}

/*    ||  ABOUT     */
.about__content {
  margin-bottom: 7rem;
}
.about__cta {
  text-align: center;
  padding-top: 2.5rem;
}
.about__me {
  text-align: center;
}
.about__me picture {
  margin: 0 auto;
  display: block;
  width: 15rem;
}
.about__me picture img {
  border-radius: 0.8rem;
}

/*    ||  SKILLS     */
.skills__soft {
  margin-bottom: 2.5rem;
}
.skills__hard > div {
  margin-bottom: 2.5rem;
}

/*    ||  CONTACT     */
#contact {
  padding-top: 0.2rem;
}

.contact__title {
  padding-top: 3.8rem;
}
.contact__mail {
  display: none;
}

/*    ||  FOOTER     */
.footer {
  margin-top: 5rem;
  text-align: center;
  padding-bottom: 4.5rem;
}
.footer > p {
  margin: 2rem 0 0.2rem;
}
.footer > span {
  font-size: 0.875rem;
  color: #A8A8C7;
}
.footer .logo {
  margin-bottom: 0;
}

/*    ||  ANIMATIONS     */
@keyframes fade-in-delayed {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes up-down {
  from {
    bottom: 1.8rem;
  }
  to {
    bottom: 2.2rem;
  }
}
@keyframes blink {
  0% {
    background-color: #A8A8C7;
  }
  49% {
    background-color: #A8A8C7;
  }
  60% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #A8A8C7;
  }
}
/***********************************
*       ||  COMPONENTS
************************************/
/*    ||  SOCIAL-LINKS     */
.social-nav {
  padding: 0;
}
.social-nav__item {
  display: inline-block;
  margin-right: 1.125rem;
  transition: transform 0.5s;
}
.social-nav__item:last-child {
  margin: 0;
}
.social-nav__item:hover {
  transform: translateY(-0.3rem);
}
.social-nav__link {
  color: #C7C7DB;
  font-size: 1.8rem;
}
.social-nav__link:focus {
  color: #F6BE5F;
}
.social-nav__link:hover {
  color: #F6BE5F;
}

/*    ||  NAVBAR     */
.header__navbar .navbar {
  display: none;
  transition: width 0.5s;
}
.header__navbar .navbar__item {
  background-color: transparent;
  border: 0;
}
.header__navbar .navbar__item--position {
  display: none;
}
.header__navbar .navbar__link {
  height: 3.5rem;
  width: 3.5rem;
  border: 3px solid #4f5067;
  border-radius: 3rem;
  margin-bottom: 0.875rem;
  display: flex;
  align-items: center;
  color: #4f5067;
  padding: 0 0.8rem;
  transition: 0.2s;
  overflow: hidden;
  background-color: #202231;
}
.header__navbar .navbar__link:hover {
  color: #F6BE5F;
  box-shadow: 0px 1px 10px 0px #F6BE5F;
  border-color: #F6BE5F;
  width: 100%;
  transition: 0.5s;
}
.header__navbar .navbar__link:hover > span {
  opacity: 1;
}
.header__navbar .navbar__link--active {
  color: #F6BE5F;
  box-shadow: 0px 1px 10px 0px #F6BE5F;
  border-color: #F6BE5F;
}
.header__navbar .navbar__text {
  opacity: 0;
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
}
.header__navbar .navbar__icon {
  font-size: 1.625rem;
}

.header__menu .navbar {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #34364C;
  box-shadow: 0px 14px 25px -5px rgba(32, 34, 49, 0.7);
  overflow: hidden;
  position: fixed;
  bottom: 0.5rem;
  right: 1.25rem;
  border-radius: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 3rem;
  padding-left: 0.5rem;
  transition: width 0.5s;
  z-index: 10;
}
.header__menu .navbar--show {
  padding-right: 4.5rem;
  padding-left: 1rem;
  width: calc(100% - 2.5rem);
}
.header__menu .navbar__item {
  height: 3.5rem;
  background-color: transparent;
  border: 0;
}
.header__menu .navbar__item--position {
  position: absolute;
  right: 0;
}
.header__menu .navbar__item:nth-child(1) {
  width: 3.5rem;
}
.header__menu .navbar__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  color: #A8A8C7;
}
.header__menu .navbar__link--active {
  color: #F6BE5F;
}
.header__menu .navbar__text {
  display: none;
}
.header__menu .navbar__toggler {
  background-color: #4f5067;
  border-radius: 2.5rem;
  border: 0;
}
.header__menu .navbar__toggler:focus-visible {
  outline: none;
}
.header__menu .navbar__toggler--collapsed {
  background-color: #34364C;
}
.header__menu .navbar__toggler-icon {
  display: block;
  position: relative;
  width: 1.3rem;
}
.header__menu .navbar__toggler-icon-menu {
  margin-left: 5px;
  width: 1.5rem;
  border: 1px solid #F6BE5F;
  transition: 0.5s;
}
.header__menu .navbar__toggler-icon-menu::before {
  transition: 0.5s;
  content: "";
  width: 1.8rem;
  border: 1px solid #F6BE5F;
  position: absolute;
  top: 0.45rem;
  right: -1px;
}
.header__menu .navbar__toggler-icon-menu::after {
  transition: 0.5s;
  content: "";
  width: 1.8rem;
  border: 1px solid #F6BE5F;
  position: absolute;
  bottom: 0.45rem;
  right: -1px;
}
.header__menu .navbar__toggler-icon-close {
  border-color: rgba(246, 190, 95, 0);
  margin-left: 8px;
  transition: 0.5s;
}
.header__menu .navbar__toggler-icon-close::before {
  transition: 0.5s;
  content: "";
  width: 1.8rem;
  border: 1px solid #F6BE5F;
  position: absolute;
  top: -1px;
  transform: rotate(45deg);
  right: 0;
}
.header__menu .navbar__toggler-icon-close::after {
  transition: 0.5s;
  content: "";
  width: 1.8rem;
  border: 1px solid #F6BE5F;
  position: absolute;
  bottom: 0;
  transform: rotate(-45deg);
  right: 0;
}
.header__menu .navbar__icon {
  font-size: 1.625rem;
}

/*    ||  LIST     */
.list {
  list-style: initial;
  columns: 2;
  margin-bottom: 2.5rem;
}
.list__item::marker {
  font-family: "Material Icons";
  content: "î—Ÿ";
  color: #F6BE5F;
  font-size: 1rem;
}

.tag-list {
  padding: 0;
}
.tag-list__item {
  position: relative;
  display: inline-block;
  max-width: 3.5rem;
  height: 3.5rem;
  background-color: #30334A;
  border-radius: 2rem;
  color: #C7C7DB;
  margin: 5px 15px 5px 0;
  overflow: hidden;
  padding: 12px 28px;
  transition: 0.5s;
}
.tag-list__icon::before {
  font-size: 1.8rem;
  position: absolute;
  left: 28px;
  top: 28px;
  color: var(--heading-cl);
  transform: translate(-50%, -50%);
}
.tag-list__text {
  margin-left: 1.8rem;
  opacity: 0;
}

.category-list {
  margin-bottom: 1.8rem;
  padding: 0;
}
.category-list__item {
  display: inline-block;
}
.category-list__button {
  font-family: "Roboto Mono", monospace;
  color: #A8A8C7;
  background-color: transparent;
  border: 0;
}
.category-list__button--active {
  color: #F6BE5F;
  font-weight: 600;
}

.project {
  margin-bottom: -6rem;
  position: relative;
}
.project__cover picture img {
  border-radius: 0.8rem;
}
.project__content {
  background-color: #30334A;
  box-shadow: 0px 14px 25px -5px rgba(32, 34, 49, 0.7);
  border-radius: 0.8rem;
  padding: 1.6rem;
  position: relative;
  top: -8rem;
}
.project__title {
  display: block;
  color: #C7C7DB;
  margin-bottom: 1.2rem;
  position: static;
}
.project__title::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.project__title h3 {
  font-size: 1.375rem;
  font-weight: 800;
}
.project__title:focus, .project__title:hover {
  color: #F6BE5F;
}
.project__desc {
  font-size: 0.9375rem;
  margin-bottom: 1.8rem;
}
.project__tech-list {
  color: rgba(168, 168, 199, 0.5);
  font-family: "Roboto Mono", monospace;
  font-size: 0.875rem;
}
.project__link-list {
  margin-bottom: 0;
}
.project__link {
  color: #C7C7DB;
  font-size: 1.5rem;
}
.project__link:focus, .project__link:hover {
  color: #F6BE5F;
}
.project ul {
  padding: 0;
}
.project ul li {
  margin-right: 0.6rem;
  display: inline-block;
}

.post-card {
  background-color: #30334A;
  box-shadow: 0px 14px 25px -5px rgba(32, 34, 49, 0.7);
  border-radius: 0.8rem;
  padding: 1.6rem;
  margin-bottom: 0.8rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
}
.post-card__top {
  display: flex;
  justify-content: space-between;
  color: #C7C7DB;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.post-card__top span {
  font-size: 2.25rem;
}
.post-card__title {
  display: block;
  color: #C7C7DB;
  margin-bottom: 1.2rem;
  font-size: 1.375rem;
  position: static;
}
.post-card__title::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.post-card__title h3 {
  font-size: 1.375rem;
  font-weight: 800;
}
.post-card__title:focus, .post-card__title:hover {
  color: #F6BE5F;
}
.post-card__desc {
  font-size: 0.9375rem;
  margin-bottom: 1.8rem;
}
.post-card__tag-list {
  font-family: "Roboto Mono", monospace;
  font-size: 0.875rem;
  color: rgba(168, 168, 199, 0.5);
}
.post-card ul {
  padding: 0;
}
.post-card ul li {
  margin-right: 0.6rem;
  display: inline-block;
}

.form__item {
  margin-bottom: 1rem;
  position: relative;
}
.form__item label {
  position: absolute;
  left: 0.8rem;
  top: 0.8rem;
}
.form__item input {
  width: 100%;
  border-radius: 0.8rem;
  border: 0;
  padding: 1rem;
  padding-left: 3rem;
  color: #C7C7DB;
  background-color: #30334A;
}
.form__item textarea {
  color: #C7C7DB;
  border-radius: 0.8rem;
  border: 0;
  padding: 1rem;
  width: 100%;
  background-color: #30334A;
}

/*    ||  MOBILE-FIRST MEDIA QUERIES     */
@media screen and (min-width: 478px) {
  .content {
    padding: 0 1.75rem;
  }
}
@media screen and (min-width: 640px) {
  body {
    font-size: 1.125rem;
  }

  .content {
    padding: 0 6rem;
  }

  .hero__headline {
    font-size: 3rem;
  }

  .navbar--show {
    width: calc(55% - 2.5rem);
  }

  .project__desc {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .content {
    padding: 0 8rem;
  }
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.125rem;
  }

  section {
    padding: 7rem 0;
  }

  .content {
    padding: 0;
    padding-left: 3.5rem;
    max-width: 80%;
    margin: 0 auto;
  }

  .scroll--desktop {
    display: flex;
  }
  .scroll--mobile {
    display: none;
  }

  .overline {
    font-size: 1.25rem;
  }

  .headline {
    font-size: 2.25rem;
  }

  .hero__headline {
    font-size: 4.5rem;
  }
  .hero__desc {
    width: 70%;
  }

  .header {
    position: fixed;
  }
  .header__navbar {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  .header__navbar .navbar {
    display: initial;
  }
  .header__menu {
    display: none;
  }

  .about__content {
    padding: 0 3rem;
  }

  .about__me picture {
    width: initial;
  }

  .skills__list {
    width: 70%;
  }
  .skills__hard {
    display: flex;
    justify-content: space-between;
  }
  .skills__hard > div {
    width: 48%;
  }

  .project {
    display: flex;
    margin: 2rem 0 4rem;
  }
  .project__cover {
    width: 40%;
    overflow: hidden;
  }
  .project__cover picture img {
    border-radius: 0.2rem;
    transition: 0.5s;
  }
  .project__cover picture img:hover {
    transform: scale(1.1, 1.1);
  }
  .project__content {
    padding: 0.8rem 1.6rem;
    box-shadow: none;
    background-color: transparent;
    position: initial;
    width: 60%;
  }
  .project__desc {
    margin-bottom: 20px;
  }
  .project__title::before {
    content: none;
  }

  .blogposts__content {
    display: flex;
    flex-wrap: wrap;
  }

  .post-card {
    width: 48%;
    transition: 0.5s;
    margin-right: 0.7rem;
    margin-bottom: 1rem;
    height: 300px;
  }
  .post-card:hover {
    transform: translateY(-0.5rem);
  }
  .post-card__title {
    transition: 0.3s;
  }

  #contact {
    width: 70%;
    margin: 0 auto;
  }

  .contact__title {
    padding-top: 7rem;
  }

  .form {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .content {
    max-width: 800px;
    padding-left: 1.5rem;
  }

  #about {
    display: flex;
  }
  #about > div {
    width: 50%;
  }
  #about .about__me {
    margin-top: 6rem;
    margin-left: 2rem;
  }
  #about .about__content {
    margin-bottom: 0;
    padding: 0;
  }

  .post-card {
    width: 31%;
    height: 350px;
  }
  .post-card__title h3 {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1400px) {
  body {
    font-size: 1.25rem;
  }

  .content {
    max-width: 900px;
    padding-left: 0;
  }

  .post-card__desc {
    font-size: 1.125rem;
  }
  .post-card__title h3 {
    font-size: 1.375rem;
  }

  .project {
    margin: 2rem 0 4rem;
  }
  .project__cover {
    width: 50%;
    overflow: hidden;
  }
  .project__cover picture img {
    border-radius: 0.2rem;
    transition: 0.5s;
  }
  .project__cover picture img:hover {
    transform: scale(1.1, 1.1);
  }
  .project__tech-list {
    font-size: 1.125rem;
  }
  .project__content {
    padding: 1.6rem;
    width: 60%;
  }
  .project__desc {
    font-size: 1.25rem;
  }

  .form__info {
    display: flex;
    justify-content: space-between;
  }
  .form__info > div {
    width: 49%;
  }
}